@font-face {
    font-family: 'Bell MT';
    src: url('fonts/BellMTBold.woff2') format('woff2'),
    url('fonts/BellMTBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bell MT';
    src: url('fonts/BellMT.woff2') format('woff2'),
    url('fonts/BellMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bell MT';
    src: url('fonts/BellMTItalic.woff2') format('woff2'),
    url('fonts/BellMTItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bell MT';
    src: url('fonts/BellMTItalic.woff2') format('woff2'),
    url('fonts/BellMTItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bell MT';
    src: url('fonts/BellMTBold.woff2') format('woff2'),
    url('fonts/BellMTBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// Fix logo SVG Header
.mk-desktop-logo.dark-logo {
    height: 80%;
    margin-left: 65px;
}

.flex {
    display: flex;
    flex-wrap: wrap;

    &.center-h {
        justify-content: center;
    }

    &.nowrap {
        flex-wrap: nowrap;
    }

    .columna {
        width: 50%;
        padding: 0px 20px;
        box-sizing: border-box;
        &.align-self-center {
            align-self: center;
        }
        &.align-self-end {
            align-self: flex-end;
        }
    }
}


@moradoFondo: #5b175e;
@marino: #254e9c;
@moradoLetras: #6a2c6d;
@grisclaro: #f9f8f8;
@grisFondo: #eeeeee;


.boton,
input[type="submit"] {
    display: inline-block;
    padding: 15px 20px;
    font-size: 2em;
    font-weight: 600px;
    transition: all 0.3s ease-in-out;
    border: none;
    font-weight: 600;
    &.azul {
        background-color: @marino;
        color: #fff;
        &:hover {
            background-color: @moradoFondo;
        }
    }
}

.padding-100 {
    padding: 100px 0;
}

.padding-50 {
    padding: 50px 0;
}

.text-center {
    text-align: center;
}


.text-justify-center {
    text-align: justify;
    text-justify: inter-word;
    text-align-last: center;
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
} 

//Fuentes
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
.rev-btn,
span input {
    font-family: 'Bell MT';
    color: #000;
}

.template-section {



    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
    }

    h2 {
        font-size: 40px;
    }

    p,
    input {
        font-size: 20px;
        line-height: 1.2em;
        margin-bottom: 15px;
        &.justify {
            text-align: justify;
        }
    }



    img {
        transition: all 0.3s ease-in-out;
        &.center {
            display: block;
            margin: 0 auto;
        }
    }
}

/* ==========================================================================
   IDIOMA
   ========================================================================== */

.page-template-intro {
    background: url(../img/fondoInicio.png) center top;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

#idioma {

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    height: 260px;

    img.logo {
        max-width: 410px;
        margin: 0 auto 40px;
        width: 100%;
        display: block;

    }

    .flex {
        .columna {
            padding: 0;
            text-align: center;
        }
    }

    .idiomas {
        max-width: 512px;
        margin: 50px auto 0;

        a {
            font-family: 'Bell MT';
            font-size: 30px;
            font-weight: 600;
            padding: 20px 40px;
            text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);

            span {
                font-size: 1.2em;
            }

            &:hover {
                color: @moradoLetras;
            }


        }
    }
}

.mk-header-toolbar {
    padding: 0;
    .mk-header-toolbar-holder {
        padding: 0;
    }
    .enlaces {
        justify-content: flex-end;
        a {
            padding: 0px;
            display: block;
            font-weight: 400;
            font-size: 16px;

            &:after {
                content: '|';
                color: @marino;
                padding: 0 10px;
            }
            &:last-child {
                border-right: none;
                &:after {
                    content: "";
                    padding-right: 0;
                }
            }
            &:hover {
                color: @moradoLetras;
            }
        }
        margin-bottom: 15px;
    }
}

/*Menu*/

.menu-hover-style-2 .main-navigation-ul > li.current-menu-item > a.menu-item-link,
.menu-hover-style-2 .main-navigation-ul > li.current-menu-ancestor > a.menu-item-link {
    font-weight: 600;
}

/* ==========================================================================
   PRINCIPÁL
   ========================================================================== */

#amparo {
    background: @grisFondo;
    text-align: center;
    .flex {

        img {
            float: right;
        }
    }
    a.boton {
        margin-top: 30px;
    }
}

#mcl {
    background: #f9f8f8;
    .flex {
        .columna {
            padding: 0;
            &:first-child {
                padding: 10px;

                article {
                    max-width: 500px;
                    float: right;
                }
                img {
                    padding: 20px;
                    max-width: 220px;
                }
                h2 {
                    padding: 20px;
                }
                p {
                    padding: 0px 20px;
                }
            }

            &:last-child {
                background: url(../img/mcl/rey.png) no-repeat;
                background-size: cover;
            }
        }
    }

}

#pro {
    h2 {
        i {
            display: block;
        }
    }

    p {
        max-width: 700px;
        margin: 10px auto;
        text-align: justify;
        text-justify: inter-word;
        text-align-last: center;
    }
}

#blog {
    h2 {}
}

#suscribir {
    background: url(../img/mcl/suscribete.jpg) no-repeat center;
    background-size: cover;

    input[type="email"] {
        background: none;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        display: block;
        border: 2px solid #bfbfbf;
        text-align: center;
    }

    input[type="submit"] {
        display: block;
        margin: 20px auto;

    }
}


#footer {
    background: @marino;
    text-align: center;

    .flex {
        justify-content: center;

        &.redes {
            a {
                margin: 0 10px;
                display: block;
                img {
                    max-width: 45px;
                    width: 100%;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            margin-bottom: 15px;
        }

        &.enlaces {
            a {
                padding: 0 10px;
                display: block;
                font-weight: 400;              
            }
            
            span{
                color: #fff;
                font-size: 1.6em;
            }
            margin-bottom: 15px;
        }
    }
    a {
        color: #fff;
        font-size: 1.5em;
        &:hover {
            color: #1ba8e4;
        }
    }

    p {
        color: #fff;
    }

    .copyright {
        p {
            font-size: 18px;
        }
    }

    a.esbrillante {
        font-size: 14px;
    }

}

/* ==========================================================================
   ACERCA DE
   ========================================================================== */

#acerca {
    background: url(../img/acerca/intro.jpg) no-repeat center;
    background-size: cover;
    h1 {
        color: #fff;
        text-align: center;
        display: block;
        padding: 120px 0;
        font-size: 72px;
        margin: 0;
    }
}

#acercaMCL {
    background-color: @grisclaro;
    img {
        max-width: 200px;
        margin-bottom: 30px;
    }
    p {
        display: block;
        max-width: 800px;
        margin: 10px auto;
        text-align: justify;
        text-justify: inter-word;
        text-align-last: center;
    }
}

@padding-texto: 100px 80px;

#jerarquia {
    .flex {
        .columna {
            padding: @padding-texto;
            &:first-child {
                background: url(../img/acerca/jerarquizacion.jpg) no-repeat;
                background-size: cover;
            }

        }
    }


}

#vision {
    h2{
        text-align: center;
        color: @moradoLetras;
    }
    .flex {
        .columna {
            padding: @padding-texto;
            &:last-child {
                background: url(../img/acerca/vision.jpg) no-repeat;
                background-size: cover;
            }
        }
    }
}

#mision {
    h2{
        text-align: center;
        color: @moradoLetras;
    }
    .flex {
        .columna {
            padding: @padding-texto;

            &:first-child {
                background: url(../img/acerca/mision.jpg) no-repeat;
                background-size: cover;
            }
        }
    }
}

section {
    &.estilo-uno {
        .flex {
            .columna {
                padding: @padding-texto;
            }
        }
    }
}


@ancho-parrafo: 1000px;


.seccion-azul {
    background: @marino;

    p {
        color: #fff;
        text-align: center;
        margin: 0 auto;
        font-style: italic;
        font-size: 2em;
        &.medio {
            font-size: 36px;
        }
    }
}


#valores {
    background: url(../img/acerca/valores.jpg) no-repeat;
    background-size: cover;

    h2 {
        color: #fff;
    }
    p {
        color: #fff;
        max-width: @ancho-parrafo;
        margin: 0 auto;
    }

}

#excelencia {
    p {
        max-width: @ancho-parrafo;
        margin: 0 auto;
        font-style: italic;
        font-size: 1.8em;
    }
}

/* ==========================================================================
   PRO BONO Y EQUIDAD DE GÉNERO
   ========================================================================== */

#probono {
    background: url(../img/probono/intro.jpg) no-repeat center top;
    background-size: cover;
    padding: 80px 0 250px;
    h1 {
        text-align: center;
        font-size: 72px;
        i {
            font-weight: 400;
        }
    }
}

#firma {
    background: url(../img/probono/logo.jpg) no-repeat center;
    background-size: 280px;
    p {

        max-width: @ancho-parrafo;
        margin: 0 auto;
    }
}

#altruista {
    background: url(../img/probono/fondo.jpg) no-repeat center top;
    background-size: contain;
    padding-bottom: 0;
    p {
        max-width: @ancho-parrafo;
        margin: 0 auto;
    }

    .flex {
        margin-top: 190px;
        .probono {
            position: relative;
            top: -100px;
        }
    }
    .blanco {
        background: #fff;
        padding: 80px;
        p {
            max-width: 485px;

        }
    }
}

#candidatos {
    p {
        max-width: 600px;
        margin: 0 auto;
    }

    .foto {
        margin-top: 50px;
        background: url(../img/probono/pie.jpg) no-repeat center top;
        background-size: cover;
        display: block;
        width: 100%;
        height: 600px;
    }
}

.seccion-morada {
    background: @moradoFondo;

    p {
        color: #fff;
        font-style: italic;
        font-size: 28px;
        span {
            font-style: normal;
        }
    }
}


/* ==========================================================================
   Medios de control constitucional
   ========================================================================== */

#constitucional {
    background: url(../img/control/intro.jpg) no-repeat center -50px;
    padding: 170px 0;
    background-size: contain;
    
    h1 {
        text-align: center;
        color: #fff;
        font-size: 72px;
    }
}

#acciones {
    background: url(../img/probono/logo.jpg) no-repeat center 180px;
    background-size: 220px;
    h2 {
        color: @marino;
        text-align: center;
        margin-bottom: 50px;
    }

    p {
        max-width: 673px;
        margin: 0 auto;
    }
}

#ademas {
    background: url(../img/control/mexico.jpg) no-repeat center top;
    padding: 160px 0;
    background-attachment: fixed;
    
    p {
        width: 658px;
        margin: 25px auto;
    }
}

#controversias {
    background: @grisFondo;
    h2 {
        color: @marino;
        text-align: center;
    }

    .fondo {
        background: url(../img/control/reloj.jpg) no-repeat right;
        background-size: contain;
    }

    .flex {
        .columna {
            padding: @padding-texto;
        }
    }
}

/* ==========================================================================
   Derechos humanos y conflictos supranacionales
   ========================================================================== */

#human {
    background: url(../img/derechos/intro.jpg) no-repeat center top;
    padding: 52px 0;
    background-size: contain;
    height: 393px;
    
    h1 {
        text-align: center;
        color: #fff;
        font-size: 72px;
        margin-top: 100px;
    }
}

#proteccion {
    h2 {
        color: @moradoLetras;
        text-align: center;
    }

    p {
        max-width: 673px;
        margin: 25px auto;
    }
}

#especialistas {
    .flex {
        .columna {
            &:first-child {
                background: @moradoFondo;
                padding: @padding-texto;
                p {
                    color: #fff;
                }
            }

            &:last-child {
                background: url(../img/derechos/especialistas.jpg) no-repeat center;
                background-size: cover;
            }
        }
    }
}

#conflictos {
    h2 {
        text-align: center;
        color: @moradoLetras;
    }
}

/* ==========================================================================
   AMPARO
   ========================================================================== */

#amparo-intro {
    background: url(../img/amparo/intro.jpg) no-repeat center;
    background-attachment: fixed;
    padding: 180px 0;
    h1 {
        text-align: center;
        color: #fff;
        font-size: 72px;
    }
}

#que-es-amparo {
    p {
        max-width: 673px;
        margin: 25px auto;
    }
}

#pretende {
    background: #fff;
    .fondo {
        background: url(../img/amparo/amparo.jpg) center no-repeat;
        background-size: cover;
    }
}

#tramita {
    background: @grisFondo;
    .fondo {
        background: url(../img/amparo/amparo2.jpg) center no-repeat;
        background-size: cover;
    }
}

#complejo {
    .fondo {
        background: url(../img/amparo/mano.jpg) center bottom no-repeat;
        background-size: 37%;
    }
}

#amparo-indirecto {
    background: url(../img/amparo/fondo.jpg) center no-repeat;
    background-attachment: fixed;
    padding: 200px 0;

    p {
        color: #fff;
    }
}

#redaccion {
    background: @grisFondo;
    .fondo {
        background: url(../img/amparo/sillon.jpg) center bottom no-repeat;
        background-size: cover;
    }
    
    .flex{
        min-height: 650px;
    }
}

/* ==========================================================================
   Contacto
   ========================================================================== */

#contacto {

    .padding-60 {
        padding: 0 30px;
    }

    h1 {
        font-size: 38px;
        text-align: center;
    }

    img.contacto {
        width: 95%;
        max-width: 400px;
    }

    form {
        input[type="text"],
        input[type="email"],
        textarea {
            background: @grisFondo;
            font-family: 'Bell MT';
            font-size: 18px;
        }

        input[type="text"],
        input[type="email"] {
            height: 35px;
        }
        .checkbox-inline {
            font-family: 'Bell MT';
            font-size: 18px;
            strong {
                color: @moradoLetras;
            }
        }
        input[type="submit"] {
            font-size: 1.8em;
            font-family: 'Bell MT';
            font-weight: 600;
            margin: 10px auto;
            display: block;
            padding: 5px 40px;
            &:hover {
                color: #fff;
            }
        }
    }

    p.aviso-legal {
        font-size: 18px;
        margin-top: 25px;
        strong {
            color: @moradoLetras;
        }
    }

    .info-contacto {
        background: url(../img/MCL.png) no-repeat center;
    }
    .info-contacto,
    .info-direccion {
        .flex {
            margin-bottom: 20px;
            .columna {
                &:first-child {
                    width: 80px;
                    img {
                        max-width: 50px;
                        width: 100%;
                    }
                }
                &:last-child {
                    width: 80%;
                    p,
                    a {
                        font-size: 25px;
                        color: @marino;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    hr {
        background: @marino;
        height: 3px;
        margin: 40px 0;
    }

    .info-direccion {
        .flex {
            .columna {
                h3 {
                    color: @marino;
                }
                &:last-child {
                    width: 80%;
                    p {
                        font-size: 18px;
                        color: #000;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
   Aviso de privacidad
   ========================================================================== */
#candado{
    background: url(../img/AvisoPrivacidad/candado.jpg) no-repeat center;
    background-size: cover;
    padding: 225px 0;
}

#aviso
{
    &.template-section{
        p{     
            text-align: justify;
            text-justify: inter-word;
            margin-bottom: 40px;
            
            &.last{
                margin-bottom:  155px;
            }
        }   
    }
    h1
    {
        color: #27509d;
        margin-top: 85px;
        margin-bottom: 78px;
    }
}

/* ==========================================================================
   Blog
   ========================================================================== */

.mk-blog-modern-item .mk-blog-meta-wrapper {
    font-size: 18px;
}

#blog{
    .the-title a {
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 18px;
    }
    
    .margin-bot{
        margin-bottom: 55px; 
    }
    
   .mk-blog-grid-item time a {
    color: #999;
    font-style: italic;
    font-size: 16px;
    }
    
    .mk-readmore {
    line-height: 12px;
    font-weight: 700;
    font-size: 18px;
    }
    
    .mk-blog-grid-item .mk-love-holder{
        display: none;
    }
    
    .image-hover-overlay{
        display: none;
    }
    .post-type-badge{
        display: none;
    }
}





@import "responsive";
