@font-face {
    font-family: 'Bell MT';
    src: url('fonts/BellMTBold.woff2') format('woff2'),
        url('fonts/BellMTBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bell MT';
    src: url('fonts/BellMT.woff2') format('woff2'),
        url('fonts/BellMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bell MT';
    src: url('fonts/BellMTItalic.woff2') format('woff2'),
        url('fonts/BellMTItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bell MT';
    src: url('fonts/BellMTItalic.woff2') format('woff2'),
        url('fonts/BellMTItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bell MT';
    src: url('fonts/BellMTBold.woff2') format('woff2'),
        url('fonts/BellMTBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@moradoFondo: #5b175e;
@marino: #254e9c;
@moradoLetras: #6a2c6d;
@grisNavbar: #f9f8f8;
@grisFondo: #eae9ea;




